{% extends "main.html" %}

{% block tabs %}
  {{ super() }}
  <style>
    .md-sidebar--secondary {
        display: none;
    }

    .md-sidebar--primary {
        display: none;
    }
  </style>
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__content">
            {{page.content}}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}