repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --quiet-level=2
        exclude: ^yarn\.lock$
