:root {
    --hacs-color-primary: #41BDF5;
}

[data-md-color-scheme=slate] {
    --md-accent-fg-color: var(--hacs-color-primary) !important;
    --md-typeset-a-color: var(--hacs-color-primary) !important;
}

.feedback-actions {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    text-align: center;
    max-width: 720px;
}

.twemoji.right-icon {
    display: none;
}


a.generated-grid-link {
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    margin: 0;
    padding: .8rem;
    transition: border .25s, box-shadow .25s;
    color: var(--md-default-fg-color);
    line-height: 0.3em;
}

a.generated-grid-link:hover {
    border: .01rem solid var(--md-accent-fg-color);
    box-shadow: 0 0 0 .01rem var(--md-accent-fg-color);
    background-color: var(--md-default-fg-color--lightest);
}

a.generated-grid-link p:last-of-type {
    font-size: 0.65rem;
}

@media (min-width: 720px) {
    .footer-right-links {
        text-align: right;
    }
    .twemoji.left-icon {
        display: none;
    }
    .twemoji.right-icon {
        display: inline-flex;
    }
}

@media (max-width: 720px) {
    .md-footer-meta__inner.md-grid {
        flex-direction: column-reverse;
    }
}

