<div class="md-copyright">
    {% for link in config.extra.links %}
    {% if not link.right %}
    <div>
        <span class="twemoji">
            {% include ".icons/" ~ link.icon ~ ".svg" %}
        </span>
        <a href="{{link.link}}" target="_blank" rel="noopener">
            {{link.title}}
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="md-copyright footer-right-links">
    {% for link in config.extra.links %}
    {% if link.right %}
    {% set iconname = ".icons/fontawesome/solid/arrow-up-right-from-square.svg" %}
    <div>
        <span class="twemoji left-icon">
            {% include ".icons/" ~ link.icon ~ ".svg" %}
        </span>
        <a href="{{link.link}}" target="_blank" rel="noopener">
            {{link.title}}
        </a>
        <span class="twemoji right-icon">
            {% include ".icons/" ~ link.icon ~ ".svg" %}
        </span>
    </div>
    {% endif %}
    {% endfor %}
</div>