<div class="feedback-container">
<hr>
<div class="admonition question">
    <p class="admonition-title">Help us improve the documentation</p>
    <p>Suggest an edit to this page, or provide/view feedback for this page.</p>
    <div class="feedback-actions">
        <a class="md-button"
            href="https://github.com/hacs/documentation/edit/{{config.remote_branch}}/source/{{page.file.src_path}}"
            target="_blank">
            <span class="twemoji">
                {% include ".icons/fontawesome/solid/file-pen.svg" %}
            </span>
            Edit this page on GitHub
        </a>
        <a class="md-button"
            href="https://github.com/hacs/integration/issues/new?assignees=&labels=issue%3Adocumentation&projects=&template=d_documentation.yml"
            target="_blank">
            <span class="twemoji">
                {% include ".icons/fontawesome/solid/comment-dots.svg" %}
            </span>
            Provide feedback
        </a>
        <a class="md-button" href="https://github.com/hacs/integration/labels/issue%3Adocumentation" target="_blank">
            <span class="twemoji">
                {% include ".icons/fontawesome/solid/comments.svg" %}
            </span>
            View given feedback
        </a>
    </div>
</div>
</div>