name: Actions

on:
  pull_request:
    branches:
      - main
      - next
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          cache: "pip"
          cache-dependency-path: "requirements.txt"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          cache: "pip"
          cache-dependency-path: "requirements.txt"

      - name: Setup
        run: scripts/setup

      - name: Build
        run: scripts/build
