name: Actions

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.1.6

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4.1.6

      - name: Setup
        runs: scripts/setup

      - name: Build
        runs: scripts/build
